.advantages {
    height: 100%;
    /* background: url(../img/services-bg.jpg) center center/cover no-repeat; */
    padding-bottom: 50px;
    p {
        color: $main-color;
        font-size: 26px;
        text-align: center;
        margin-top: 50px;
    }
    &_item {
        margin-top: 30px;
        text-align: center;
        text-transform: uppercase;
        background-color: rgba(0,0,0,0.6);
        padding: 15px;
        z-index: 111;
        color: $main-color;
        i {
            font-size: 60px;
        }
        p {
            margin-top: 10px;
            font-size: 25px;
        }
    }
}