.nav {
    height: 60px;
    width: 100%;
    position: fixed;
    padding-top: 5px;
/*     background-color: rgba(228, 82, 82); */
    z-index: 1111;
    &:hover {
        background-color: #08100e;
    }
	&_logo {
		height: 45px;
	}
}

