.testimonials {
    height: 100%;
    padding-top: 15px;
    background: url("../img/hero-bg.jpg") center (center/cover) no-repeat;
    height: 100%;
    width: 100%;
    bottom: 0px;
    padding-bottom: 50px;
    &_descr {
        text-align: center;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: $text-color;
    }
    &_content {
        display: block;
        height: 300px;
        /* width: 300px; */
        padding: 25px;
        margin-bottom: 50px;
        color: $text-color;
        text-align: center;
        background-color: rgba(0,0,0,0.6);
        /* border-bottom: 1px solid $text-color; */
        p {
            color: $text-color;
            font-size: 18px;
        }
    }
    footer {
        padding: 25px;
        p {
            color: $text-color;
        }
    }
}